		@import url('https://fonts.googleapis.com/css?family=Oswald');
		h1{
			border: 70px solid #1596BF;
			position:relative;
			background-color: #EED7ED;
			}
		img{
			max-height: 200px;
			max-width:200px;
			position:relative;
			left:20%;
			}
		p {
			font-size: 20px;
			color: #25C7E0;
			font-family: 'Oswald', sans-serif;
			position: relative;
			left: 35%;
			}
		@import url('https://fonts.googleapis.com/css?family=Alegreya');
		aside>p {
			font-size: 20px;
			color: #C482C2;
			font-family:'Alegreya', serif; 
			position:relative;
			left:70%;
		}
		article>p{
			color: #574BB0;
			position:relative;
			left:0%;
		}
		footer>p{
			font-size: 10px;
			position:relative;
			left: 0%;
		}
		@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
		a {
			font-family: 'Supermercado One', cursive;
			color: #82C4C4;
		}
		ul{
			background-color: #B04BA5;
		}
		a:hover {
			color: #EC4646;
			text-decoration: none;
		}
		a:visited {
			font-weight: bold;
			font-style: italic;
		}
		a:active {
			background-color: #4BB07B;
		}